
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card card-wizard" id="wizardCard">
                    <form id="wizardForm" method="" action="">
                        <div class="card-header text-center">
                            <h4 class="card-title">Alta de acción por primera vez</h4>
                            <p class="category">Texto texto texto texto texto texto texto texto</p>
                        </div>
                        <div class="card-content">
                            <ul class="nav">
                                <li><a href="#tab1" data-toggle="tab">Nueva acción</a></li>
                                <li><a href="#tab2" data-toggle="tab">Alcance del proyecto</a></li>
                                <li><a href="#tab3" data-toggle="tab">Confirmación</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="tab1">
                                    
                                    <h5 class="text-center">Proceso de alta de nueva acción.</h5>
                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">
                                                Nombre del programa
                                                </label>
                                                <!--     IMPORTANT! - the "bootstrap select picker" is not compatible with jquery.validation.js, that's why we use the "default select" inside this wizard. We will try to contact the guys who are responsibble for the "bootstrap select picker" to find a solution. Thank you for your patience.
                                                    -->
                                                <select name="cities" class="form-control">
                                                    <option selected="" disabled="">Seleccione una opción</option>
                                                    <option value="4.0">Opción 1</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">
                                                Nombre de la acción
                                                </label>
                                                <!--     IMPORTANT! - the "bootstrap select picker" is not compatible with jquery.validation.js, that's why we use the "default select" inside this wizard. We will try to contact the guys who are responsibble for the "bootstrap select picker" to find a solution. Thank you for your patience.
                                                    -->
                                                <select name="cities" class="form-control">
                                                    <option selected="" disabled="">Seleccione una opción</option>
                                                    <option value="4.0">Opción 1</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Objetivos</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" placeholder="Escriba aquí los objetivos" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">
                                                Dependencia responsable
                                                </label>
                                                <!--     IMPORTANT! - the "bootstrap select picker" is not compatible with jquery.validation.js, that's why we use the "default select" inside this wizard. We will try to contact the guys who are responsibble for the "bootstrap select picker" to find a solution. Thank you for your patience.
                                                    -->
                                                <select name="cities" class="form-control">
                                                    <option selected="" disabled="">Seleccione una opción</option>
                                                    <option value="4.0">Opción 1</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h5 class="text-center">Indicadores</h5>     
                                        <div class="col-md-6 col-md-offset-1">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Objetivo</label>
                                                    <div class="col-sm-4">
                                                        <div class="radio">
                                                            <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                                                            <label for="radio1">
                                                                    Habitantes 
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">

                                                        <div class="radio">
                                                            <input type="radio" name="radio1" id="radio2" value="option2">
                                                            <label for="radio2">
                                                                Localidades
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Unidad de medida
                                                </label>
                                                <!--     IMPORTANT! - the "bootstrap select picker" is not compatible with jquery.validation.js, that's why we use the "default select" inside this wizard. We will try to contact the guys who are responsibble for the "bootstrap select picker" to find a solution. Thank you for your patience.
                                                    -->
                                                <select name="cities" class="form-control">
                                                    <option selected="" disabled="">Seleccione una opción</option>
                                                    <option value="Kg">Kilos</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    
                                        <div class="col-md-10 col-md-offset-1">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Meta propuesta</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>


                                    


                                </div>
                              
                        <div class="tab-pane" id="tab2">
                            <div class="row">
                                        <h5 class="text-center">Orden de gobierno</h5>                            
                                        
                                        <div class="col-md-10 col-md-offset-1">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Orden de gobierno</label>
                                                    <div class="col-sm-4">
                                                        <div class="radio">
                                                            <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                                                            <label for="radio1">
                                                                    Estatal
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">

                                                        <div class="radio">
                                                            <input type="radio" name="radio1" id="radio2" value="option2">
                                                            <label for="radio2">
                                                                Mixta
                                                            </label>
                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">
                                                Periocidad de reporte
                                                </label>
                                                <!--     IMPORTANT! - the "bootstrap select picker" is not compatible with jquery.validation.js, that's why we use the "default select" inside this wizard. We will try to contact the guys who are responsibble for the "bootstrap select picker" to find a solution. Thank you for your patience.
                                                    -->
                                                <select name="cities" class="form-control">
                                                    <option selected="" disabled="">Seleccione una opción</option>
                                                    <option value="semanal">Semanal</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                            <div class="row">                                
                                 <h5 class="text-center">Alcance del proyecto.</h5>
                                <div class="col-md-10 col-md-offset-1">
                                     <div class="form-group">
                                        <label class="control-label">
                                           Municipios
                                        </label>
                                        <select name="cities" class="form-control">
                                            <option selected="" disabled="">Seleccione una opción</option>
                                            <option value="municipio">Municipio 1</option>
                                            <option value="municipio">Municipio 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                     <div class="form-group">
                                        <label class="control-label">
                                           Localidades
                                        </label>
                                        <select name="cities" class="form-control">
                                            <option selected="" disabled="">Seleccione una opción</option>
                                            <option value="Localidade">Localidade 1</option>
                                            <option value="Localidade">Localidade 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                     <div class="form-group">
                                        <label class="control-label">
                                           Colonias
                                        </label>
                                        <select name="cities" class="form-control">
                                            <option selected="" disabled="">Seleccione una opción</option>
                                            <option value="Colonia">Colonia 1</option>
                                            <option value="Colonia">Colonia 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                     <div class="form-group">
                                        <label class="control-label">
                                           Colonias
                                        </label>
                                        <select name="cities" class="form-control">
                                            <option selected="" disabled="">Seleccione una opción</option>
                                            <option value="Colonia">Colonia 1</option>
                                            <option value="Colonia">Colonia 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                     <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Población beneficiada</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control">
                                                <span class="help-block">Breve descripción de la población a quien se beneficiara .</span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                               
                            </div>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <h2 class="text-center text-space">!Solo un paso más! <br><small>Por favor revisa que los datos sean correctos, si lo es da click en "<b>Guardar</b>" para finalizar</small></h2>
                              <table class="table table-striped">	                                   
                                <tbody>
                                    <tr>
                                        <td>Nombre del programa</td>
                                        <td>ZZZZZ</td>
                                    </tr>
                                    <tr>
                                        <td>Nombre de la acción</td>
                                        <td>ZZZZZ</td>
                                    </tr>
                                    <tr>
                                        <td>Objetivos</td>
                                        <td>ZZZZZ</td>
                                    </tr>
                                    <tr>
                                        <td>Dependencias responsables</td>
                                        <td>ZZZZZ</td>
                                    </tr>
                                    <tr>
                                        <td>Indicador</td>
                                        <td>ZZZZZ</td>
                                    </tr>
                                    <tr>
                                        <td>Meta propuesta</td>
                                        <td>ZZZZZ</td>
                                    </tr>
                                    <tr>
                                        <td>Unidad de medida</td>
                                        <td>ZZZZZ</td>
                                    </tr>
                                    <tr>
                                        <td>YYYYY</td>
                                        <td>ZZZZZ</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-default btn-fill btn-wd btn-back pull-left"><i class="fas fa-angle-left"></i> Regresar</button>
                    <button type="button" class="btn btn-info btn-fill btn-wd btn-next pull-right">Siguiente <i class="fas fa-angle-right"></i></button>
                    <button type="button" class="btn btn-info btn-fill btn-wd btn-finish pull-right" onclick="onFinishWizard()"> <i class="far fa-check-circle"></i> Finalizar</button>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</div>